.tte-sticky-buttons-bottom {
  position: sticky;
  bottom: 0px;
  right: 0px;
  display: flex;
  justify-content: flex-end;
  box-shadow: 0px 2px 7px rgba(0, 0, 0, 0.15), 0px 5px 17px rgba(0, 0, 0, 0.2);
}

.tte-white-bg {
  background-color: white;
}

.tte-width-none {
  width: fit-content !important;
}

.tte-width-70 {
  width: 70%;
}
